<!DOCTYPE html>
<html>
<head>
    <title>Mes tâches</title>
</head>
<body>

    <h1>Liste des tâches</h1>

    <ul>
        {% for task in tasks %}
            <li>
                {{ task.name }}

                {% if task.completed %}
                    ✅
                {% else %}
                    ❌
                    <a href="{{ path('app_task_complete', {'id': task.id}) }}">
                        Terminer
                    </a>
                {% endif %}
            </li>
        {% else %}
            <li>Aucune tâche pour le moment</li>
        {% endfor %}
    </ul>
</body>
</html>